<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Przykład Tymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Dodawanie filmu</h2>

<a href="/products/add">Dodaj nowy film</a><br/><br/>

<form action="#" th:action="@{/add}" th:object="${movie}" method="post">
    Tytuł: <input type="text" th:field="*{title}" /> <br/>
    Data premiery: <input type="date" th:field="*{premiereDate}" /><br/><br/>
    <input type="submit" value="Dodaj" />
</form>

</body>
</html>