<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Przykład Tymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="/add">Dodaj nowy film</a><br/><br/>

<ul>
    <!--/*@thymesVar id="movies" type="java.util.List"*/-->
    <li th:each="movie: ${movies}">
        <!--/*@thymesVar id="movie" type="pl.javastart.minifilmweb.Movie"*/-->
        <a href="#" th:href="'/film?id=' + ${movie.id}" th:text="${movie.title}">Titanic</a>
    </li>
</ul>
</body>
</html>